{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
 <div>
    <div class="card mb-3">
            <h6 class="card-header"> {{ recipe.name }}</i></h6>
            <div class="card-body"> 
                <i>About this recipe</i>
                <p>{{ recipe.description }} </p>
                <i>What you need</i>
            <p> {{ recipe.ingredients }} </p>
            <i>How to make it</i>
            <p> {{ recipe.directions }} </p>
            </div>
            
    </div>
 </div>

{% endblock content %}