<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodSpot</title>
</head>
<body>
    <header>
        <div>
            <a href="{% url "foodspot_app:index" %}">FoodSpot</a>
            <a href="{% url "foodspot_app:add_recipe_no_genre" %}">Add recipes</a>
        </div>
    </header>
    <div class="container">
        {% block content %}
        
        {% endblock content %}

    </div>
    <hr>
    <footer>
        <pre>Footer</pre>
    </footer>
</body>
</html>