{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}

<h3>Recipes in <i>{{category}}</i></h3>
<a href="{% url "foodspot_app:add_recipe_with_genre" category_id=category.id %}">Create a recipe</a>
<div>
    {% for recipe in recipes %}    
        <div class="card mb-3">

                <h6 class="card-header"> {{ recipe.name }}, <i>added {{ recipe.date_added | date:"M d, Y H:i"}}</i> </h6>

                <div class="card-body">
                    <p>About this recipe:</p>
                    {{recipe.description}}
                </div>
                <small><a href="{% url 'recipes:recipe_detail' recipe.id %}">Open recipe details</a></small>
        </div>
    {% endfor %}
</div>
{% endblock content %}

